<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block subject %}
    {% block trans %}Account verification on Alx-accessor {% endblock trans %}
    {% endblock subject %}

    {% block text_body %}
   Your account was successfully verified. Welcome to Alx-accessor

    Follow the link to login
    https://alx-accessor.netlify.app/login

   Thanks for joining us.

    {% endblock text_body %}
</body>

</html>